<div class="container mx-auto">
  <h1 class="text-xl font-bold my-4"><%= @product.name %></h1>
  <div class="bg-white shadow-md rounded p-4 flex">
    <% if @product.image.attached? %>
      <%= image_tag @product.image, class: "w-48 h-48 object-cover rounded mr-8" %>
    <% else %>
      <div class="w-48 h-48 bg-gray-200 rounded mr-8"></div>
    <% end %>
    <div class="ml-8">
      <p class="mt-4"><strong>Price:</strong> <%= number_to_currency(@product.price) %></p>
      <p><strong>Category:</strong> <%= link_to @product.category.name, category_path(@product.category), class: "text-blue-500 hover:underline" %></p>
      <p class="mt-4"><strong>Description:</strong> <%= @product.description %></p>
      <p><strong>On Sale:</strong> <%= @product.on_sale ? 'Yes' : 'No' %></p>
      <%= button_to 'Add to Cart', add_item_cart_path(product_id: @product.id), method: :post, class: "mt-4 bg-blue-500 text-white p-2 rounded" %>
    </div>
  </div>
</div>
