<nav class="bg-gray-800 text-white fixed w-full top-0 z-50">
  <div class="container mx-auto flex justify-between items-center p-4">
    <div class="flex space-x-4">
      <div class="text-2xl font-bold">Fashion Hub</div>
      <%= link_to 'Products', products_path, class: "hover:underline" %>
      <%= link_to 'Categories', categories_path, class: "hover:underline" %>
      <%= link_to 'About', about_path, class: "hover:underline" %>
      <%= link_to 'Contact', contact_path, class: "hover:underline" %>
    </div>
    <div>
      <%= form_with url: search_products_path, method: :get, local: true, class: "flex items-center" do %>
        <input type="text" name="query" placeholder="Search..." class="p-2 rounded-l text-black">
        <select name="category_id" class="p-2 text-black bg-white">
          <option value="" class="text-black">All</option>
          <% Category.all.each do |category| %>
            <option value="<%= category.id %>" class="text-black"><%= category.name %></option>
          <% end %>
        </select>
        <button type="submit" class="bg-blue-500 text-white p-2 rounded-r">Search</button>
      <% end %>
    </div>
  </div>
</nav>
